@model OnlineLibrary.DataLayer.Entiteties.Book
<div class="card">
	<div class="card-header">
		<img src="../wwwroot/images/books/The idiot.jpeg" width="300" height="400" />
		<h6>@Model.Title</h6>
	</div>
	<div class="card-body">
		<h7>
			@Model.Description
		</h7>
		<div class="card-body">
			<h8>
				@Model.Category
			</h8>
			<div class="card-body">
				<h8>
					@Model.ISBN
				</h8>
		</div>
	</div>
