@model OnlineLibrary.Models.RentBookModel
<div>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="ClientID">Client</label>
            <select class="form-control" asp-for="ClientID"
                    asp-items="@(new SelectList(Model.Clients, "ID", "FullName"))"></select>
        </div>

        <div class="form-group">
            <label asp-for="BookID">Book</label>
            <select class="form-control" asp-for="BookID"
                    asp-items="@(new SelectList(Model.Books, "Id", "Title"))"></select>
        </div>

        <div class="form-group">
            <input type="submit" value="Rent" class="btn btn-primary" />
        </div>
    </form>
</div>