@model OnlineLibrary.DataLayer.Entiteties.Author
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<div class="create-form">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<style scoped>
    .create-form {
        border: solid black 1px;
        max-height: 500px;
        max-width: 500px;
        margin: auto;
        padding: 10px;
    }
</style>









