@model OnlineLibrary.DataLayer.Entiteties.Author
<div class="card">
    <div class="card-header">
        <img src="../images/authors/Dostoevsky.jpg" width="300" height="400" />
        <h6>@Model.FullName</h6>
    </div>
    <div class="card-body">
        <h7>
            @Model.Description
        </h7>
        <div class="card-body">
            <h8>
                @Model.NumberOfBooks
            </h8>
        </div>
    </div>
